@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  #container{
    max-width: 800px;
    margin:0 auto;
  }
  
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #CFDEE7;
  font-family: "Open Sans", sans-serif;
}

section {
  margin:auto;
  border-left: 1px solid #CFDEE7;  
  border-right: 1px solid #CFDEE7;
}

footer {
  margin:auto;
  min-height:20px;
  padding:20px;
  background-color:#4472CA;
  text-align:right;
}

footer a {
  color:#423e37;
  text-decoration: none;
}

p {
  color: #fff;
}
h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size:16px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

ul li {
  color: #fff;
  font-size: 12px;
  padding: 15px;
  text-align: left;
}

.weather-card {
  background-color: #4472CA;
  margin: 15px;
  border-radius: 5px;
  height: 100%;
  width: 350px;
  box-shadow: 0 8px 6px -6px black;
}

.weather-icon {
  float: right;
}

.weather-pop {
  font-weight: bold;
}

button {
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  border: 1px solid #edebd7;
  background-color: #92B4F4;
}

button:hover {
  background-color: #CFDEE7;
  border: 1px solid #423e37;
}

input {
  -webkit-appearance: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #edebd7;
  background-color: #92B4F4;
}

::placeholder {
  color: #000;
  letter-spacing: 1px;
}

button,
input {
  font-size: 16px;
  padding: 10px;
}

.top-banner {
  background-color: #5E7CE2;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0px;
}