@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
    /*background-color:#423E37;*/
    background-color:#EDEBD7;
    font-family: 'Open Sans', sans-serif;
}
p{
    color:#EDEBD7;
}
h1{
    color:#E3B23C;
    font-family: 'Roboto', sans-serif;
}

h2{
    margin-top:0;
}

#container{
    padding:50px;
    margin:0;
}
ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}

ul li {
color:#423e37;
padding: 15px;

}

#weather-card{
    background-color:#E3B23C;
    padding:10px;
    margin:15px;
    border-radius:5px;
    height:100%;
    width:350px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#weather-icon{
    float:right;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight:bold;
    
}

input {
    -webkit-appearance: none;
}

button,input {
    font-size:16px;
    border-top: none;
    border-left: none;
    border-right: none; 
    border-bottom:#E3B23C 5px solid;
    padding:20px;
    background-color:#EDEBD7
}